body {
  background:#eee;
  height:100%;
}
.mainHead {
  position:fixed;
  width:100%;
  height:100%;
}
.head {
  height:50px;
  background:#00303f;
  color:white;
  font-family:monospace;
  position:relative;
}
.head span {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:18px;
}
.chat {
  top:50px;
  position:relative;
  z-index:-1;
  bottom:40px;
  margin-bottom:100px;
}
.main {
  overflow-y:auto;
}
.send {
  width:100%;
  position:fixed;
  bottom:0px;
  margin-right:10px;
  background:white;
  display:inline-flex;
}
.send .txt1 {
  width:100%;
  padding:5px;
  margin:5px;
  color:#00303f;
  font-weight:bold;
}
.send .txt1:focus {
  border-color:#00303f;
}
.send .btn1 {
  color:silver;
  background:#00303f;
  width:70px;
  margin:5px;
  height:40px;
}
.txt {
  background:#c9e1be;
  padding:5px;
  position:relative;
  border-right: 2px solid #00303f;
}
.txt2 {
  background:#A1E7ED;
  padding:5px;
  position:relative;
  border-left: 2px solid #0c757e;
}
.txt-div {
  margin:5px;
  padding:5px;
  width:80%;
  float:right;
}

.txt-div2 {
  margin:5px;
  padding:5px;
  width:80%;
  float:left;
}
.time {
  font-size:12px;
  background:#c9e1be;
  padding:5px;
  border-right: 2px solid #00303f;
}
.time2 {
  font-size:12px;
  background:#A1E7ED;
  padding:5px;
  border-left: 2px solid #0c757e;
}